.div-1{
    background-color: rgb(200, 162, 200) ;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-2{
    background-color: #ffcbdb;
    height: 100%;
    width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
}

.div-3{
    background-color: #03bb85;
    height: 88%;
    width: 30%;
}