body{
    background-color:#808080;
}

.div-1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border-style: dotted;
    border-radius: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-2{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.div-3{
    background-color: rgb(184, 119, 0);
    height: 100px;
    width: 30%;
}

.div-4{
   background-color: rgb(0, 128, 0); 
   color: white;
   font-size: 30px;
   margin: 50px 0 0 50px;
   padding: 50px;
}