.div-01{
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-color: green;
    border-style: solid;
    padding: 100px 0 0 0;
}

.div-02{
    background-color: black;
    height: 50vw;
    width: 50%;
    border-width: 10px;
    border-color: red;
    border-style: dashed;
    padding: 100px 0 0 100px;
}